services:
  citadel:
    build: .
    container_name: binhost
    restart: unless-stopped
    volumes:
      # Configurazione Portage (fondamentale)
      - ./make.conf:/etc/portage/make.conf
      - ./package.use:/etc/portage/package.use
      - ./package.env:/etc/portage/package.env
      - ./portage-env:/etc/portage/env
      - ./scripts/update.sh:/usr/local/bin/update.sh
      - ./scripts/install.sh:/usr/local/bin/install.sh
      - ./scripts/setup-kernel-source.sh:/usr/local/bin/setup-kernel-source.sh
      - ./kernel-config.d:/etc/kernel/config.d

      # Persistenza (Cache e Repo)
      - distfiles:/var/cache/distfiles
      - portage:/var/db/repos/gentoo
      - db-pkg:/var/db/pkg
      - src:/usr/src

      # Output: Qui finiranno i tuoi pacchetti binari
      - binpackages:/var/www/binhost
    ports:
      - "9090:80"
      - "9091:873"
    environment:
      - MAKEOPTS=-j16
    ulimits:
      nofile:
        soft: 8192
        hard: 8192

volumes:
  distfiles:
  portage:
  binpackages:
  db-pkg:
  src:
