services:
  citadel:
    build: .
    container_name: binhost
    restart: unless-stopped
    volumes:
      # Configurazione Portage (fondamentale)
      - ./make.conf:/etc/portage/make.conf
      - ./package.use:/etc/portage/package.use
      - ./package.env:/etc/portage/package.env
      - ./portage-env:/etc/portage/env

      # Persistenza (Cache e Repo)
      - gentoo-distfiles:/var/cache/distfiles
      - gentoo-portage:/var/db/repos/gentoo

      # Output: Qui finiranno i tuoi pacchetti binari
      - gentoo-binpackages:/var/www/binhost
    ports:
      - "9090:80"
    environment:
      - MAKEOPTS=-j16
    ulimits:
      nofile:
        soft: 8192
        hard: 8192

volumes:
  gentoo-distfiles:
  gentoo-portage:
  gentoo-binpackages:
