services:
  binhost:
    container_name: citadel
    build: .
    restart: unless-stopped
    ports:
      - "8080:80"
    # command: tail -f /dev/null
    volumes:
      # Configurazioni chroot
      - ./chroot-configs/make.conf:/binhost/etc/portage/make.conf
      - ./chroot-configs/package.use:/binhost/etc/portage/package.use

      # Configurazioni container
      - ./scripts/binhost.sh:/usr/local/bin/binhost.sh
      - ./configs/nginx.conf:/etc/nginx/nginx.conf
      - ./configs/make.conf:/etc/portage/make.conf

      # Persistenza binhost
      - gentoo_chroot_distfiles:/binhost/var/cache/distfiles
      - gentoo_chroot_packages:/binhost/var/cache/binpkgs
      - gentoo_portage:/binhost/var/db/repos/gentoo

      # Persistenza container
      - gentoo_portage:/var/db/repos/gentoo

    environment:
      - MAKEOPTS=-j16
    ulimits:
      nofile:
        soft: 8192
        hard: 8192

volumes:
  gentoo_chroot_distfiles:
  gentoo_chroot_packages:
  gentoo_portage:
