services:
  citadel:
    build: .
    container_name: binhost
    restart: unless-stopped
    volumes:
      # Configurazione Portage (fondamentale)
      - ./make.conf:/etc/portage/make.conf
      - ./rsyncd.conf:/etc/rsyncd.conf
      - ./package.use:/etc/portage/package.use
      - ./package.env:/etc/portage/package.env
      - ./portage-env:/etc/portage/env
      - ./scripts/update.sh:/usr/local/bin/update.sh
      - ./scripts/install.sh:/usr/local/bin/install.sh
      - ./scripts/setup-kernel-source.sh:/usr/local/bin/setup-kernel-source.sh
      - ./savedconfig:/etc/portage/savedconfig

      # Copia in /var/www/binhost/ i file da condividere
      - ./make.conf:/var/www/binhost/_custom-files/make.conf
      - ./package.use:/var/www/binhost/_custom-files/package.use
      - ./package.env:/var/www/binhost/_custom-files/package.env
      - ./portage-env:/var/www/binhost/_custom-files/env

      # Persistenza (Cache e Repo)
      - distfiles:/var/cache/distfiles
      - db-repos:/var/db/repos/gentoo
      - db-pkg:/var/db/pkg
      - src:/usr/src
      - lib-modules:/usr/lib/modules

      # Output: Qui finiranno i tuoi pacchetti binari
      - binpackages:/var/www/binhost
    ports:
      - "9090:80"
      - "9091:873"
    environment:
      - MAKEOPTS=-j16
    ulimits:
      nofile:
        soft: 8192
        hard: 8192

volumes:
  distfiles:
  db-repos:
  binpackages:
  db-pkg:
  src:
  lib-modules:
