services:
  citadel:
    build: .
    container_name: binhost
    restart: unless-stopped
    volumes:

      # Persistenza
      - stage3-cache:/stage3-cache
      - gentoo-root:/mnt/gentoo

      # Configurazione Portage (fondamentale)
      - ./configs:/configs

    ports:
      - "9090:80"
      - "9091:873"
    ulimits:
      nofile:
        soft: 8192
        hard: 8192
    tmpfs:
      - /run
      - /tmp:mode=1777
volumes:
  stage3-cache:
  gentoo-root:
