[Unit]
Description=Git Daemon per Repository Gentoo (Local Network)
After=network.target

[Service]
# Esegui come utente portage o root (portage è più sicuro se ha i permessi sulla cartella)
User=root
Group=root

# --base-path: la cartella che contiene i tuoi repo
# --export-all: permette il clone anche se non c'è il file 'git-daemon-export-ok'
# --reuseaddr: permette il riavvio rapido del servizio
ExecStart=/usr/bin/git daemon --reuseaddr --base-path=/var/db/repos --export-all --port=9091< --verbose

# Riavvia automaticamente il servizio se fallisce
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target